.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.b:link{
    color: rgb(84, 222, 176);
}
.b:visited{
    color: aqua;
}
.n:link{
    color: rgb(81, 81, 205);
}
.n:visited{
    color: rgb(130, 130, 208);
}
.f:link:link{
    color: rgb(154, 222, 44);
}
.f:visited{
    color: rgb(101, 191, 78);
}
.g:link{
    color: rgb(233, 57, 180);
}
.f:visited{
    color: rgb(218, 53, 100);
}
h1{
            text-align: center;
            font-size: 24px;
        }
.p{
    font-size: 120%;
}
